{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-8">
            <h1 class="bold">About Mauricio</h1>
            <div class="col" -8>
                <h1>Student</h1>
                <p>
                    I am enrolled in NJIT in hopes to get an education in cybersecurity as the next step in career development.
                    I have a bachelors from Montclair State University in IT with a minor in chinese. I have atteneded technical
                    trade school PCAGE where I have furthered my computer knowledge and understanding. I am always learning and I
                    like this industry for personal interests, hobby, and anything else.
                </p>
            </div>
            <div class="col" -8>
                <h1>Worker</h1>
                <p>
                    I am currently working in IT for BedBath&Beyond. I like it there and everyone is great. I get to work with a lot
                    of mobile wireless and network technologies. Thank you.
                </p>
            </div>
            <div class="col" -8>
                <h1>Gamer</h1>
                <p>
                    I like to play many video games that are complex, competitive, and resource management extensive. league of legends is my favorite, cities skylines, and
                    battlefield 2042.
                </p>
            </div>
        </div>
{% endblock %}