{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-8">
            <h1 class="bold">GitHub</h1>
            <div class="col" -8>
                <h3>Branches</h3>
                <p>
                    In Git Hub branches dolor sit amet, consectetur adipisicing elit. Accusantium asperiores eos expedita fuga
                    incidunt maiores nam perspiciatis quis soluta. Consequatur, corporis tempora. Architecto cupiditate
                    deleniti dolores eos eum expedita fugiat illum impedit incidunt, ipsam ipsum iste laudantium libero
                    modi nihil numquam, omnis quasi quidem quisquam quos saepe totam ullam vel.
                </p>
            </div>
            <div class="col" -8>
                <h3>Merge</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores eos expedita fuga
                    incidunt maiores nam perspiciatis quis soluta. Consequatur, corporis tempora. Architecto cupiditate
                    deleniti dolores eos eum expedita fugiat illum impedit incidunt, ipsam ipsum iste laudantium libero
                    modi nihil numquam, omnis quasi quidem quisquam quos saepe totam ullam vel.
                </p>
            </div>
            <div class="col" -8>
                <h3>Commit</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores eos expedita fuga
                    incidunt maiores nam perspiciatis quis soluta. Consequatur, corporis tempora. Architecto cupiditate
                    deleniti dolores eos eum expedita fugiat illum impedit incidunt, ipsam ipsum iste laudantium libero
                    modi nihil numquam, omnis quasi quidem quisquam quos saepe totam ullam vel.
                </p>
            </div>
            <div class="col" -8>
                <h3>Tags</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores eos expedita fuga
                    incidunt maiores nam perspiciatis quis soluta. Consequatur, corporis tempora. Architecto cupiditate
                    deleniti dolores eos eum expedita fugiat illum impedit incidunt, ipsam ipsum iste laudantium libero
                    modi nihil numquam, omnis quasi quidem quisquam quos saepe totam ullam vel.
                </p>
            </div>
            <div class="col" -8>
                <h3>Repositories</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores eos expedita fuga
                    incidunt maiores nam perspiciatis quis soluta. Consequatur, corporis tempora. Architecto cupiditate
                    deleniti dolores eos eum expedita fugiat illum impedit incidunt, ipsam ipsum iste laudantium libero
                    modi nihil numquam, omnis quasi quidem quisquam quos saepe totam ullam vel.
                </p>
            </div>
        </div>
{% endblock %}