{% extends "base.html" %}
{% block content %}
    Python Tutorial
    <div class="container">
        <div class="row">
            <div class="col-2">
                <ol class="h4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/pytutorial">Python</a></li>
                    <li class="nav-item"><a class="nav-link" href="/oop">OOP</a></li>
                    <li class="nav-item"><a class="nav-link" href="/aaatest">AAA Testing</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pyflask">Py Flask</a></li>
                </ol>
            </div>
            <div class="col-10">
                <p><h1 class="bold">What is Python?</h1>
                Python is a language used in programming. Python is an "Object Oriented Programming" language. It is primarily
                used in web and app development. It is an attractive coding language in the field of rapid application development.
                </p>
                <p>
                PYthon is relatively simple to learn since it requires a unique syntax that focuses on readibility. Developers can
                    read and translate Python code much easier than other languages.
                </p>
                <p><h1 class="bold">How is python used?</h1>
                PYthon is general purpose programming language, which means python can be used for pretty much anything. In technical terms,
                 Python is an interpreted language which means the written code is not translated to a computer readable format at runtime,
                where other programming languages do the conversion before the program is even ran. This type of language is called "Scripting language".
                </p>
                <p>
                    The concept of "scripting language" in regards to python has changed since its release just because Python is now used to write large,
                     commercial style applications. Now-a-days many web applications and platforms rely on Python and you can find a good job if you know Python.
                </p>
                <p><h1 class="bold">How to learn Python?</h1>
                    Rather than asking yourself what language to learn, more importantly, it is better to know how to learn the language you are learning.
                In this case this tutorial will cover the basics of Object Oriented Programming using Python and an overview of Design Patterns.
                </p>
                <p>
                   <h1 class="bold"><a class="nav-link" href="/oop">Object Oriented Programming --></a></h1>
                </p>
            </div>
        </div>
    </div>
{% endblock %}


